*{margin:0;padding:0;box-sizing:border-box;}
body{font-family:Arial,sans-serif;padding-top:85px;}

/* -------- HEADER -------- */
header{
    width:100%;
    background:#001737;
    padding:12px 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:fixed;
    top:0;left:0;
    z-index:9999;
}

/* ----- LOGO -----*/
.logo img{
    height:60px;
    width:auto;
}

/* -------- NAV LINKS -------- */
.nav-links{
    list-style:none;
    display:flex;
    gap:30px;
}

/* -------- LINKS + UNDERLINE ANIMATION -------- */
.nav-links li a{
    color:#E0E0E0;
    font-size:18px;
    text-decoration:none;
    position:relative;
    padding:10px 0;
    transition:.3s;
    display:inline-block;
}

.nav-links li a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-4px;
    height:2px;
    width:0;
    background:#0E7B99;
    transition:width .35s ease;
}

.nav-links li a:hover::after{ width:100%; }
.nav-links li a:hover{ color:#0E7B99; }

/* -------- DROPDOWN -------- */
.dropdown{position:relative;}

.submenu{
    display:none;
    position:absolute;
    top:100%;
    left:50%;
    transform:translateX(-50%);
    background:#001737;
    width:220px;
    border-radius:4px;
    overflow:hidden;
    padding-top:5px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,.45);
    z-index:999;
    list-style:none;
}

.submenu li{
    padding:12px 0;
    border-bottom:1px solid #0E7B9955;
}

.submenu li:last-child{border-bottom:none;}
.submenu li a:hover{color:#0E7B99 !important;}

.dropdown:hover .submenu{display:block;}

/* -------- HAMBURGER -------- */
.hamburger{
    display:none;
    font-size:32px;
    color:white;
    cursor:pointer;
}
#menu-toggle{display:none;}

/* -------- Responsive -------- */
@media(max-width:900px){
    .hamburger{display:block;margin-left:60%;}
    nav{width:100%;}
    .nav-links{
        flex-direction:column;
        background:#001737;
        position:absolute;
        top:85px;left:0;
        width:100%;
        max-height:0;
        overflow:hidden;
        transition:max-height .4s ease;
        text-align:center;
    }

    #menu-toggle:checked ~ nav .nav-links{
        max-height:800px;
        overflow:visible;
    }

    .nav-links li{
        padding:16px 0;
        border-bottom:1px solid #0E7B9950;
    }

    .submenu{
        position:static !important;
        width:100%;
        background:#011226;
        padding:0;
        display:none;
        opacity:0;
        transform:translateY(-6px);
        transition:.35s ease;
        box-shadow:none;
    }

    .submenu.open{
        display:block !important;
        opacity:1;
        transform:translateY(0);
    }

    .dropdown:hover .submenu{display:none;}
}







/* -------- CONTACT SECTION -------- */
.contact-section {
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.contact-container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* -------- LEFT INFO --------*/
.contact-info {
  flex: 1;
  min-width: 300px;
}

.contact-info h2 {
  font-size: clamp(28px, 4vw, 45px);
  margin-bottom: 10px;
  color: #0E7B99;
}

.contact-info p {
  font-size: 17px;
  margin-bottom: 25px;
  line-height: 1.6;
}

.info-box {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  margin: 10px 0;
}

.info-box i {
  font-size: 22px;
  color: #0E7B99;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  color: #0E7B99 !important;
  font-size: 26px;
  margin-right: 12px;
  transition: 0.3s ease;
}

.social-icons a:hover {
    color:#001737;
     }

/* -------- CONTACT FORM -------- */
.contact-form {
  flex: 1;
  min-width: 330px;
  max-width: 500px;
  background: rgba(255,255,255,0.08);
  padding: 35px;
  border-radius: 12px;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.contact-form h3 {
  font-size: clamp(22px, 3vw, 30px);
  margin-bottom: 15px;
  color: #0E7B99;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  border-radius: 6px;
  border: none;
  margin-bottom: 15px;
  font-size: 16px;
  outline: none;
}

.contact-form textarea { resize: none; }

.contact-form button {
  width: 100%;
  padding: 14px;
  background: #0E7B99;
  color: #00111f;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  transition: 0.3s ease;
  cursor: pointer;
}

.contact-form button:hover {
    background:#001737;
  color: #ffffff;
}

/* -------- GET QUOTE BUTTON -------- */
.info-btn {
  margin-top: 28px;
  background: #0E7B99;
  color:#ffffff;
  padding: 14px 35px;
  font-size:20px;
  border:none;
  border-radius:6px;
  cursor:pointer;
  font-weight:700;
  transition: .3s;
}
.info-btn:hover{
    background:#001737;
  color: #ffffff;
     }

/* -------- POPUP FORM -------- */
.popup-overlay{
  position: fixed;
  top:0; left:0;
  width:100%; height:100%;
  background:rgba(0,0,0,0.65);
  display:none;
  justify-content:center;
  align-items:center;
  z-index:99999;
}

.popup-form{
  background:#ffffff;
  width:350px;
  padding:25px;
  border-radius:12px;
  color:#00111f;
  box-shadow:0 10px 25px rgba(0,0,0,0.5);
  position:relative;
}

.popup-form h2{ text-align:center;margin-bottom:12px; }

.popup-form input{
  width:100%;
  padding:12px;
  margin-bottom:12px;
  border:1px solid #ccc;
  border-radius:6px;
  font-size:16px;
}

.submit-btn{
  width:100%;
  padding:14px;
  background:#00eaff;
  color:#00111f;
  font-size:17px;
  font-weight:600;
  border:none;
  border-radius:6px;
  cursor:pointer;
}
.submit-btn:hover{ background:#001737;color:white; }

.close-btn{
  position:absolute;
  top:10px;
  right:15px;
  font-size:30px;
  color:#333;
  cursor:pointer;
}






/* -------- FOOTER -------- */
.jk-footer {
  background: #0d1b2a;
  color: white;
  padding: 60px 20px 20px;
  font-family: 'Poppins', sans-serif;
}

.jk-footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.jk-footer-about, .jk-footer-links, .jk-footer-contact {
  flex: 1;
  min-width: 260px;
}

.jk-footer h2, .jk-footer h3 {
  color: #0E7B99 !important;
  margin-bottom: 15px;
}

.jk-footer p {
  font-size: 15px;
  line-height: 1.6;
}

.jk-footer-links ul {
  list-style: none;
  padding: 0;
}

.jk-footer-links ul li {
  margin: 8px 0;
}

.jk-footer-links ul li a {
  text-decoration: none;
  color: #d2e7ff;
  font-size: 15px;
  transition: 0.3s;
}

.jk-footer-links ul li a:hover {
  color: #0E7B99;
}

.jk-social-icons {
  margin-top: 12px;
}

.jk-social-icons a {
  text-decoration: none;
   color: #0E7B99;
  margin-right: 12px;
  font-size: 20px;
  transition: 0.3s;
}



.jk-footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  border-top: 1px solid #2f3e55;
  padding-top: 15px;
  color: #aac8e8;
}

/* -------- RESPONSIVE -------- */
@media (max-width: 768px) {
  .jk-footer-container {
    flex-direction: column;
    text-align: center;
  }

  .jk-social-icons {
    justify-content: center;
    display: flex;
  }
}







/* -------- What's app Flaot -------- */
.whatsapp-chat {
  position: fixed;
  bottom: 22px;
  right: 20px;
  background:#25D366;
  border-radius: 50px;
  padding: 10px 18px;
  display:flex;
  align-items:center;
  gap:10px;
  color:white;
  font-size:18px;
  font-weight:600;
  z-index:9999;
  text-decoration:none;
  box-shadow:0 6px 18px rgba(0,0,0,.4);
  cursor:pointer;
  transition:0.3s;
}

.whatsapp-chat i {
  font-size:26px;
}






/* ---------- Email float ---------- */
.email-float {
  position: fixed;
  bottom: 90px; 
  right: 20px;
  background: #007bff;  
  border-radius: 50px;
  padding: 10px 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  z-index: 9999;
  text-decoration: none;
  box-shadow: 0 6px 18px rgba(0,0,0,.4);
  cursor: pointer;
  transition: 0.3s;
}

.email-float i {
  font-size: 26px;
}








/* -------- SUCCESS MESSAGE -------- */
.success-msg {
  display: none;
  margin-bottom: 12px;
  padding: 12px;
  text-align: center;
  background: #28a745;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  animation: fadeScale 0.5s ease;
}

@keyframes fadeScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Button loading state */
button.sending {
  background: #aaa !important;
  cursor: not-allowed;
}
